# This file was updated by Duplicator Pro on 2020-05-29 08:19:43.

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /headphonestore/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /headphonestore/index.php [L]
</IfModule>
# END WordPress